@model IEnumerable<WEBSAIGONGLISTEN.Models.Product>
@{
    ViewData["Title"] = "Danh sách gói du lịch";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@ViewData["Title"]</h2>
<table class="table">

<thead>
<tr>
<th>Tên</th>
<th>Gía</th>
<th>Miêu tả</th>
<th>Điểm đến</th>
<th>Images</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
@foreach (var product in Model)
{
<tr>
<td>@product.Name</td>
<td>@product.Price</td>
<td>@product.Description</td>
<td>@product.Category?.Name</td>
                <td><img src="@product.ImageUrl" style="max-width:200px;" /></td>
<td>

<a asp-action="Display" asp-route-id="@product.Id">View</a> |

<a asp-action="Update" asp-route-id="@product.Id">Edit</a> |

<a asp-action="Delete" asp-route-id="@product.Id">Delete</a>

</td>
</tr>
}
</tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}