@model IEnumerable<WEBSAIGONGLISTEN.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Images</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>
                    @if (product.Category != null)
                    {
                        <text>@product.Category.Name</text>
                    }
                    else
                    {
                        <text>No category</text>
                    }
                </td>
                <td><img src="@product.ImageUrl" /></td>
                <td>
                    <a asp-action="Display" asp-route-id="@product.Id">View</a>
                    <a asp-action="Update" asp-route-id="@product.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>